#carrito-container {
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

#totales {
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.9);
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
}

#totales button {
    background: var(--color-acento);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

.tarjeta-producto-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.9);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}